<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Gallery</title>
</head>
<body>
    <nav class="nav">
        <a class="refs" href="/home">Home</a>
        <a class="refs" href="/about">About</a>
        <a class="refs" href="/otherGames">More cool games</a>
    </nav>

    <div class="main-center">
        <figure>
            <img class="gallery-img" src="/images/stickman1.png" alt="">
            <figcaption>Character</figcaption>
        </figure>
        <figure>
            <img class="gallery-img" src="/images/stickmanDead.png" alt="">
            <figcaption>Dead Character</figcaption>
        </figure>
        <figure>
            <img class="gallery-img" src="/images/pulse1.png" alt="">
            <figcaption>Enemy 1</figcaption>
        </figure>
        <figure>
            <img class="gallery-img" src="/images/cannonball.png" alt="">
            <figcaption>Enemy 2</figcaption>
        </figure>
        <figure>
            <img class="gallery-img" src="/images/red_laser.png" alt="">
            <figcaption>Enemy 3</figcaption>
        </figure>
        <figure>
            <img class="gallery-img" src="/images/gameOver.png" alt="">
            <figcaption>Game over</figcaption>
        </figure>
        <figure>
            <img class="gallery-img" src="/images/instructions.png" alt="">
            <figcaption>instructions</figcaption>
        </figure>
    </div>
</body>
</html>