<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Home</title>
</head>
<body>
    <nav class="nav">
        
        <a class="refs" href="/about">About</a>
        <a class="refs" href="/gallery">Gallery</a>
        <a class="refs" href="/otherGames">More cool games</a>
    </nav>

    <div class="main-center">
        <h1 class="titles">Welcome to</h1>
        <img src="/images/game_logo2.png" alt="" id="home-logo" class="logo">
        <a class="refs" href="https://prpedrosa.github.io/Project_1_game/" target="_blank" id="big-btn">Play!</a>
    </div>
</body>
</html>