<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Works</title>
</head>
<body>
    <nav class="nav">
        <a class="refs" href="/home">Home</a>
        <a class="refs" href="/about">About</a>
        <a class="refs" href="/gallery">Gallery</a>
    </nav>

    <div class="main-center">
        <figure>
            <figcaption><a class="game-label" href="https://rfcoelho-gh.github.io/dungeon-journey/" target="_blank">Rafa's Game</a></figcaption>
            <img class="games-img" src="/images/rafaGame.png" alt="">
        </figure>
        <figure>
            <figcaption><a class="game-label" href="https://andre-antunespt.github.io/project-game-ironhack/" target="_blank">André's Game</a></figcaption>
            <img class="games-img" src="/images/andreGame.png" alt="">
        </figure>
        <figure>
            <figcaption><a class="game-label" href="https://meerkatpt.github.io/game_project/" target="_blank">Filipe's Game</a></figcaption>
            <img class="games-img" src="/images/felipeGame.png" alt="">
        </figure>
    </div>

</body>
</html>